body{
    padding:0px;
    margin:0px;
    background-color:rgb(247, 200, 72);
}

h1{
    
    color:rgb(255, 255, 255);
    margin: auto;
    font-size: 3em;
    max-width:50vw;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color:rgb(255, 255, 255);
    margin: auto;
    font-size: 1.2em;
    max-width:50vw;
    text-align: center;
    margin-top: 10px;
    padding: 5;


}

.container table{
    max-width:100vw;
    margin:auto;     
}

a{
    text-decoration: none;
}

.row1 td {
    background-color: rgb(255, 0, 0);
    color:white;
}

.row2 td:nth-child(1),.row3 td:nth-child(1),.row4 td:nth-child(1),.row5 td:nth-child(1),
.row6 td:nth-child(1),.row7 td:nth-child(1),.row8 td:nth-child(1),.row9 td:nth-child(1){
    background-color: red;
    color:white;
}

/*---------------------- Row-2 -----------------------*/
.row2 td:nth-child(2){
    background-color: #229413;
}
.row2 td:nth-child(2):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row2 td:nth-child(4){
    background-color:#89cdef;
}
.row2 td:nth-child(4):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


/*------------ Row-3 ---------------------------------*/
.row3 td:nth-child(2){
    background-color: #229413;
}
.row3 td:nth-child(2):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row3 td:nth-child(3){
    background-color: #229413;
}
.row3 td:nth-child(3):hover{
    background-color: rgb(203, 248, 2); 
    transform: scale(1.12);
    z-index: 10;
}

.row3 td:nth-child(5){
    background-color: #229413;
}


.row3 td:nth-child(6){
    background-color:#fcec7a;
}


.row3 td:nth-child(7){
    background-color:#89cdef;
}


.row3 td:nth-child(8){
    background-color:#7b8e79;
}


.row3 td:nth-child(10){
    background-color:#89cdef;
}
.row3 td:nth-child(10):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row3 td:nth-child(11){
    background-color:#89cdef;
}
.row3 td:nth-child(11):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row3 td:nth-child(12){
    background-color:#89cdef;
}
.row3 td:nth-child(12):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row3 td:nth-child(13){
    background-color:#89cdef;
}
.row3 td:nth-child(13):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row3 td:nth-child(14){
    background-color:#89cdef;
}
.row3 td:nth-child(14):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row3 td:nth-child(15){
    background-color:#89cdef;
}
.row3 td:nth-child(15):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

/*------------------------ Row-4 -------------------------*/
.row4 td:nth-child(2){
    background-color:#229413;
}
.row4 td:nth-child(2):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row4 td:nth-child(3){
    background-color:#229413;
}
.row4 td:nth-child(3):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row4 td:nth-child(5){
    background-color:#89cdef;
}
.row4 td:nth-child(5):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row4 td:nth-child(6){
    background-color:#89cdef;
}
.row4 td:nth-child(6):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row4 td:nth-child(7){
    background-color:#89cdef;
}
.row4 td:nth-child(7):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row4 td:nth-child(8){
    background-color:#89cdef;
}
.row4 td:nth-child(8):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row4 td:nth-child(9){
    background-color:#89cdef;
}
.row4 td:nth-child(9):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row4 td:nth-child(10){
    background-color:#89cdef;
}
.row4 td:nth-child(10):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


/*------------------------- Row-5 --------------------------*/
.row5 td:nth-child(2){
    background-color:#229413;
}
.row5 td:nth-child(2):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row5 td:nth-child(3){
    background-color:#229413;
}
.row5 td:nth-child(3):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(4){
    background-color:#fcec7a;
}
.row5 td:nth-child(4):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(5){
    background-color:#fcec7a;
}
.row5 td:nth-child(5):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(6){
    background-color:#fcec7a;
}
.row5 td:nth-child(6):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(7){
    background-color:#fcec7a;
}
.row5 td:nth-child(7):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(8){
    background-color:#fcec7a;
}
.row5 td:nth-child(8):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(9){
    background-color:#fcec7a;
}
.row5 td:nth-child(9):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(10){
    background-color:#fcec7a;
}
.row5 td:nth-child(10):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(11){
    background-color:#fcec7a;
}
.row5 td:nth-child(11):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(12){
    background-color:#fcec7a;
}
.row5 td:nth-child(12):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(13){
    background-color:#fcec7a;
}
.row5 td:nth-child(13):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(14){
    background-color:#89cdef;
}
.row5 td:nth-child(14):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(15){
    background-color:#89cdef;
}
.row5 td:nth-child(15):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(16){
    background-color:#89cdef;
}
.row5 td:nth-child(16):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(17){
    background-color:#89cdef;
}
.row5 td:nth-child(17):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(18){
    background-color:#89cdef;
}
.row5 td:nth-child(18):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row5 td:nth-child(19){
    background-color:#89cdef;
}
.row5 td:nth-child(19):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


/*-------------------------- Row-6 ---------------------------*/
.row6 td:nth-child(2){
    background-color:#229413;
}
.row6 td:nth-child(2):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(3){
    background-color:#229413;
}
.row6 td:nth-child(3):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(4){
    background-color:#fcec7a;
}
.row6 td:nth-child(4):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(5){
    background-color:#fcec7a;
}
.row6 td:nth-child(5):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(6){
    background-color:#fcec7a;
}
.row6 td:nth-child(6):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(7){
    background-color:#fcec7a;
}
.row6 td:nth-child(7):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(8){
    background-color:#fcec7a;
}
.row6 td:nth-child(8):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(9){
    background-color:#fcec7a;
}
.row6 td:nth-child(9):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(10){
    background-color:#fcec7a;
}
.row6 td:nth-child(10):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(11){
    background-color:#fcec7a;
}
.row6 td:nth-child(11):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(12){
    background-color:#fcec7a;
}
.row6 td:nth-child(12):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}


.row6 td:nth-child(13){
    background-color:#fcec7a;
}
.row6 td:nth-child(13):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(14){
    background-color:#89cdef;
}
.row6 td:nth-child(14):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(15){
    background-color:#89cdef;
}
.row6 td:nth-child(15):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(16){
    background-color:#89cdef;
}
.row6 td:nth-child(16):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(17){
    background-color:#89cdef;
}
.row6 td:nth-child(17):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(18){
    background-color:#89cdef;
}
.row6 td:nth-child(18):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row6 td:nth-child(19){
    background-color:#89cdef;
}
.row6 td:nth-child(19):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

/*---------------------- Row-7 -----------------------*/
.row7 td:nth-child(2){
    background-color:#229413;
}
.row7 td:nth-child(2):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(3){
    background-color:#229413;
}
.row7 td:nth-child(3):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(4){
    background-color:#fcec7a;
}
.row7 td:nth-child(4):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(5){
    background-color:#fcec7a;
}
.row7 td:nth-child(5):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(6){
    background-color:#fcec7a;
}
.row7 td:nth-child(6):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(7){
    background-color:#fcec7a;
}
.row7 td:nth-child(7):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(8){
    background-color:#fcec7a;
}
.row7 td:nth-child(8):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(9){
    background-color:#fcec7a;
}
.row7 td:nth-child(9):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(10){
    background-color:#fcec7a;
}
.row7 td:nth-child(10):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(11){
    background-color:#fcec7a;
}
.row7 td:nth-child(11):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(12){
    background-color:#fcec7a;
}
.row7 td:nth-child(12):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(13){
    background-color:#fcec7a;
}
.row7 td:nth-child(13):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(14){
    background-color:#89cdef;
}
.row7 td:nth-child(14):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(15){
    background-color:#89cdef;
}
.row7 td:nth-child(15):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(16){
    background-color:#89cdef;
}
.row7 td:nth-child(16):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(17){
    background-color:#89cdef;
}
.row7 td:nth-child(17):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(18){
    background-color:#89cdef;
}
.row7 td:nth-child(18):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row7 td:nth-child(19){
    background-color:#89cdef;
}
.row7 td:nth-child(19):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

/*------------------------ Row-8 -------------------------*/
.row8 td:nth-child(2){
    background-color:#229413;
}
.row8 td:nth-child(2):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(3){
    background-color:#229413;
}
.row8 td:nth-child(3):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(4){
    background-color:#fcec7a;
}
.row8 td:nth-child(4):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(5){
    background-color:#fcec7a;
}
.row8 td:nth-child(5):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(6){
    background-color:#fcec7a;
}
.row8 td:nth-child(6):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(7){
    background-color:#fcec7a;
}
.row8 td:nth-child(7):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(8){
    background-color:#fcec7a;
}
.row8 td:nth-child(8):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(9){
    background-color:#fcec7a;
}
.row8 td:nth-child(9):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(10){
    background-color:#fcec7a;
}
.row8 td:nth-child(10):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(11){
    background-color:#fcec7a;
}
.row8 td:nth-child(11):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(12){
    background-color:#fcec7a;
}
.row8 td:nth-child(12):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(13){
    background-color:#fcec7a;
}
.row8 td:nth-child(13):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(14){
    background-color:#89cdef;
}
.row8 td:nth-child(14):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(15){
    background-color:#89cdef;
}
.row8 td:nth-child(15):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(16){
    background-color:#89cdef;
}
.row8 td:nth-child(16):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(17){
    background-color:#89cdef;
}
.row8 td:nth-child(17):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(18){
    background-color:#89cdef;
}
.row8 td:nth-child(18):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row8 td:nth-child(19){
    background-color:#89cdef;
}
.row8 td:nth-child(19):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

/*------------------------- Row-9 --------------------------*/
.row9 td:nth-child(2){
    background-color:#f9f5d2;
}

.row9 td:nth-child(3){
    background-color:#7b8e79;
}
.row9 td:nth-child(3):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(4){
    background-color:#7b8e79;
}
.row9 td:nth-child(4):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(5){
    background-color:#7b8e79;
}
.row9 td:nth-child(5):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(6){
    background-color:#7b8e79;
}
.row9 td:nth-child(6):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(7){
    background-color:#7b8e79;
}
.row9 td:nth-child(7):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(8){
    background-color:#7b8e79;
}
.row9 td:nth-child(8):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(9){
    background-color:#7b8e79;
}
.row9 td:nth-child(9):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(10){
    background-color:#7b8e79;
}
.row9 td:nth-child(10):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(11){
    background-color:#7b8e79;
}
.row9 td:nth-child(11):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(12){
    background-color:#7b8e79;
}
.row9 td:nth-child(12):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(13){
    background-color:#7b8e79;
}
.row9 td:nth-child(13):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(14){
    background-color:#7b8e79;
}
.row9 td:nth-child(14):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(15){
    background-color:#7b8e79;
}
.row9 td:nth-child(15):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(16){
    background-color:#7b8e79;
}
.row9 td:nth-child(16):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}

.row9 td:nth-child(17){
    background-color:#7b8e79;
}
.row9 td:nth-child(17):hover{
    background-color: rgb(203, 248, 2);
    transform: scale(1.12);
    z-index: 10;
}











